// fontawesome icon font included
@import "../../components/fontawesome/scss/font-awesome";

// custom fonts: PT Sans, Open Sans
@font-face {
    font-family: 'open_sansbold';
    src: url('#{$font}OpenSans-Bold-webfont.woff') format('woff'),
         url('#{$font}OpenSans-Bold-webfont.ttf') format('truetype'),
         url('#{$font}OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('#{$font}OpenSans-Regular-webfont.woff') format('woff'),
         url('#{$font}OpenSans-Regular-webfont.ttf') format('truetype'),
         url('#{$font}OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('#{$font}OpenSans-Semibold-webfont.woff') format('woff'),
         url('#{$font}OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('#{$font}OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansbold';
    src: url('#{$font}PTS75F-webfont.woff') format('woff'),
         url('#{$font}PTS75F-webfont.ttf') format('truetype'),
         url('#{$font}PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

// sass font variables
$opensans: 'open_sansregular', sans-serif !default;
$opensansbold: 'open_sansbold', sans-serif !default;
$opensanssemibold: 'open_sanssemibold', sans-serif !default;
$ptsansbold: 'pt_sansbold', sans-serif !default;

@mixin ptsansbold() {
  font-family: $ptsansbold;
}
@mixin opensans() {
  font-family: $opensans;
}
@mixin opensansbold() {
  font-family: $opensansbold;
}
@mixin opensanssemibold() {
  font-family: $opensanssemibold;
}
@mixin fontshort($size: $baseFontSize, $lineHeight: $baseLineHeight) {
  font-size: $size;
  line-height: $lineHeight;
}
@mixin ptsansboldshort($size: $baseFontSize, $lineHeight: $baseLineHeight) {
  @include ptsansbold();
  @include fontshort($size, $lineHeight);
}
@mixin opensansshort($size: $baseFontSize, $lineHeight: $baseLineHeight) {
  @include opensans();
  @include fontshort($size, $lineHeight);
}
@mixin opensansboldshort($size: $baseFontSize, $lineHeight: $baseLineHeight) {
  @include opensansbold();
  @include fontshort($size, $lineHeight);
}
@mixin opensanssemiboldshort($size: $baseFontSize, $lineHeight: $baseLineHeight) {
  @include opensanssemibold();
  @include fontshort($size, $lineHeight);
}

// font classes
.ptsansbold {@include ptsansbold();}
.opensans {@include opensans();}
.opensansbold {@include opensansbold();}
.opensanssemibold {@include opensanssemibold();}

// font sizes
.fz10 {font-size: 0.625rem;}
.fz12 {font-size: 0.75rem;}
.fz14 {font-size: 0.875rem;}
.fz18 {font-size: 1.125rem;}
.fz22 {font-size: 1.375rem;}
.fz24 {font-size: 1.5rem;}
.fz26 {font-size: 1.625rem;}
