// import partials from base
@import "base";

body {background-color: $bodyBackground; color: $textColor;}

.sass {display: block; width: 217px; height: 238px; background:  url('#{$img}sass.gif') no-repeat; text-indent: -99em;}

